body {
  text-align: center;
  background-color: #011F3F;
  position: relative; /* Ensure body is positioned relative */
  overflow: hidden; /* Prevent scrollbars */
}

#particles-js {
  position: fixed; /* Ensure particles cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Corrected width unit */
  height: 100vh; /* Corrected height unit */
  z-index: 0; /* Ensure particles are behind other elements */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  z-index: 1; /* Ensure title is above particles */
  position: relative;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  opacity: 0.9; /* Increase opacity */
  z-index: 1; /* Ensure container is above particles */
  position: relative;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  cursor: pointer;
  border-radius: 20%;
  transition: transform 0.2s, background 0.2s; /* Add transition for hover effect */
}

.btn:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background: linear-gradient(45deg, #ff0000, #ff7f7f); /* Gradient effect */
}

.green {
  background: linear-gradient(45deg, #00ff00, #7fff7f); /* Gradient effect */
}

.blue {
  background: linear-gradient(45deg, #0000ff, #7f7fff); /* Gradient effect */
}

.yellow {
  background: linear-gradient(45deg, #ffff00, #ffff7f); /* Gradient effect */
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Responsive Design */
@media (max-width: 768px) {
  .btn {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .btn {
    height: 100px;
    width: 100px;
  }

  #level-title {
    font-size: 2rem;
  }

  .container {
    width: 80%;
  }
}
